<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>codeVantage</title>
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/angular-material.css">
  </head>
  <body ng-controller="qnCtrl as ctrl" layout="column" ng-app="questionss">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
          <span>Pivotal Expert</span>
        </h2>
        <span flex></span>
        <md-button style="margin-right:10px" href="./courseMap.html" >course</md-button>
        <md-button style="margin-right:10px">chat</md-button>
        <md-button style="margin-right:10px"  href="./mcq.html" >[5]</md-button>
        <md-button style="margin-right:10px" class="md-fab md-primary md-hue-2" aria-label="Profile" href="./profile.html">
            <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <form name="addChapterForm">

      <div layout="row" flex>
        <div flex="auto"></div>
        <div class="md-whiteframe-z2" layout="column" flex="70">
          <div style="padding: 0px 20px; background-color: #4169E1;" >
            <h2 class="pull-left"><font color="ffffff">Insert Chapter</font></h2>
          </div>

          <div class="md-padding" ng-cloak="" layout="row">
            <div flex="auto"></div>
            <div layout="column" flex="15" align="right" style="padding-right: 15px;">
              <div flex="auto"></div>
              <div flex="auto">Insert after Chapter:</div>
              <div flex="auto"></div>
            </div>
            <div flex="70"><md-select ng-model="ctrl.chosenChapter">
              <md-option ng-repeat="chapter in ctrl.chapters" ng-value="chapter.abbrev" ng-required="true">
                {{chapter.abbrev}}
              </md-option>
            </md-select>
            </div>
            <div flex="auto"></div>
          </div>

          <div class="md-padding" ng-cloak="" layout="row">
            <div flex="auto"></div>
            <div layout="column" flex="15" align="right" style="padding-right: 15px;">
              <div flex="auto"></div>
              <div flex="auto">Chapter Name</div>
              <div flex="auto"></div>
            </div>
            <div flex="70">
              <md-input-container class="md-block">
                <label>Pick a Unique Name</label>
                <input required="true" name="chapterName" ng-model="addChapter.chapterNam" >
                <div ng-messages="addChapterForm.chapterName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div flex="auto"></div>
          </div>

          <br>
          <div layout="row" layout-align=" center">
            <div flex="10">
              <md-button type="submit" style="width: 100%" class="md-primary md-raised" href="./courseMap_edit.html">Cancel</md-button>
            </div>
            <div flex="10"></div>
            <div flex="50">
              <md-button type="submit" style="width: 100%" class="md-primary md-raised" href="./courseMap_edit.html">Save New Chapter</md-button>
            </div>
          </div>

        </div>
        <div flex="auto"></div>
      </form>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script>

        <script src="js/question.js"></script>




  </body>
</html>
