<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>User Profile</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/angular-material.min.css">
        <link rel="stylesheet" href="font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <html lang="en" ng-app="codeVantage">
      <div layout="column" ng-controller="AppCtrl" class="relative" layout-fill role="main">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <h2>
            <span>Pivotal Expert</span>
          </h2>
          <span flex></span>
          <md-button style="margin-right:10px" href="./courseMap.html" >course</md-button>
          <md-button style="margin-right:10px">chat</md-button>
          <md-button style="margin-right:10px"  href="./mcq.html" >[5]</md-button>
          <md-button style="margin-right:10px" class="md-fab md-primary md-hue-2" aria-label="Profile" href="./profile.html">
              <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div layout="row" flex>
        <div flex="15"></div>
        <div class="md-whiteframe-z2" layout="column" flex="70" style="padding: 15px 20px">
          <md-content flex md-scroll-y>
            <md-card-content>
            <div class="text-center profile-head">
              <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Profile Photo" class="profile-photo">
              <br>
              <h1>[ {{numAchievement}} ]</h1>
              <h2>{{displayName}} 
                <md-button class="md-icon-button" href="username_edit.html">
                  <i class="fa fa-pencil fa-lg"></i>
                  <md-tooltip md-direction="right" md-delay="300">
                    edit username
                  </md-tooltip>
                </md-button>
              </h2>
  					</div>

                <md-divider></md-divider>
                <md-divider></md-divider>
                <md-divider></md-divider>
                <u><h2>Completed Projects</h2></u>
                    <md-list>
                      <md-item ng-repeat="project in projects | filter:search | orderBy:'title'">
                        <md-item-content>
                          <div class="md-tile-content">
                            <font class="font-size-course-title">{{project.title}}</font>
                            <p>
                              <h4>{{project.description}}<h4>
                            </p>
                          </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                      </md-item>
                      <md-divider></md-divider>
                    </md-list>

                <md-divider></md-divider>
                <md-divider></md-divider>
                <u><h2>Completed Courses</h2></u>
                    <md-list>

                        <h2>Chapter 1: Spreadsheets</h2>
                      <md-item ng-repeat="item in courseMaterial | filter:search">
                        <md-item-content>
                          <div class="md-tile-content">
                            <font class="font-size-course-title">{{item.title}}</font>
                            <p>
                              <font class="font-size-normal">Type: {{item.qnType}}</font>
                            </p>
                          </div>
                          <div class="md-tile-right inset" hide-sm>
                          <img class="coursemap-check" ng-src="images/check-circle-outline-128.png">
                        </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                      </md-item>
                      <md-divider></md-divider>
                    </md-list>
                  </md-card-content>
      </md-content>
      </div>
      </div>
      </div>
    <!-- Angular Material Dependencies -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>

        <script src="js/index.js"></script>
<script src="js/excel.js"></script>
  </body>
</html>
